<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog of Dhiman Sarkar</title>
    <meta property="og:title" content="{{ page.title }} - Blog of Dhiman Sarkar">
    <meta property="og:description" content="Blog Archive">
    <meta property="og:type" content="Blog">
    <meta property="og:url" content="https://dhimansarkar.github.io/Blog">
    <meta property="og:image" content="https://dhimansarkar.github.io/assets/img/blog-cover.jpg">
    <meta property="og:site_name" content="Here is Dhiman Sarkar">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/assets/css/blog-style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fontawesome/css/all.min.css">

</head>
<body>
    <container id="container">
        <header>
            <!--Nav-->
            <nav id="blog-nav">
                <ul id="blog-nav-wrapper">
                    <li class="blog-nav-element"><a class="nav-link" href="/">Go Back to Home</a></li>                
                    <li class="blog-nav-element"><a class="nav-link" href="./">Blog Home</a></li>                
                </ul>
            </nav>
            <div id="blog-header">
                <h1>Blog of Dhiman Sarkar</h1>
                <button id="blog-nav-button"><i class="fas fa-3x fa-chevron-circle-down"></i></button>
            </div>
        </header>
        
           