<div>
    <div class="fb-share-button" data-href="https://dhimansarkar.github.io{{page.url}}index.html" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>


    <a class="twitter-share-button" target="_blank"
    href="https://twitter.com/intent/tweet?text={{page.title}} - https://dhimansarkar.github.io{{page.url}} @DhimanSarkar"
    data-size="large"><i class="fab fa-twitter" style="color:white; background:#00ACEE; padding: 1px 10px; border-radius:5px;"></i></a>
  
    <a href="https://api.whatsapp.com/send?phone=91XXXXXXXXXX&text=*{{page.title}}* - {{page.excerpt}} _*https://dhimansarkar.github.io{{page.url}}*_" target="_blank"><i class="fab fa-whatsapp-square" style="color:white; background:#25D366; padding: 1px 2px; border-radius:5px;"></i></a>
</div>