@media screen and (max-width: 899px) {
//media query start

    #home-content, #contact-content, #about-content
    {
        padding:20px;
        background:#fff;
        min-height: calc(100vh - 80px);
        display: block;
    }

    #home-content
    {
        
    }

}//media query end