@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Hammersmith+One&display=swap');

html
{
    
    font-family: 'Hammersmith One', sans-serif;

}

@media screen and (min-width: 900px) {
    html {
        font-size: 30px;
    }
}
@media screen and (max-width: 899px) {
    html {
        font-size: 20px;
    }
}
@media screen and (max-width: 500px) {
    html {
        font-size: 15px;
    }
}

body
{
    display: block;
    width: 100%;
    height: 100%;
    background:#0e0e0e;
    padding:0;
    margin:0;
    text-decoration: none;
    color: #3c3c3c;
    cursor: default;
    scroll-behavior: smooth;
    outline:none!important;
}

button, a
{
    outline:none!important;
}

button::-moz-focus-inner, a::-moz-focus-inner {
  border: 0;
}

#container
{
    display: block;
    padding: 0;
    margin:0;
    width:100%;
    height: auto;
    background-color: white;
}

#nav
{
    z-index: 999;
    position: fixed;

    .nav-element>button
    {
        font-family: 'Abril Fatface', cursive;
    }
}



.nav-desktop
{
    width:20%;
    padding:10px;
    position: fixed;
    display: inline-flex; // make us of Flexbox
    align-items: center; // does vertically center the desired content
    justify-content: right; // horizontally centers single line items
    margin: auto;
    margin-right: 0;
    top: 0;bottom: 0; right: 0;
    #nav-wrapper
    {
        .active
        {
            background:hsla(0, 0%, 100%, 0.5);
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 70%);
            //clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        }
    }
    .nav-element
    {
        padding: 2px 0;
        text-decoration: none;
        list-style: none;
        text-align: right; // Right Aligned Buttons
        outline:none!important;
    }
    button
    {
        width: 100%;
        text-align: right;
        background:none;
        margin:0;
        border:none;
        padding:2px 20px;
        font-size: 1.2rem;
        outline:none!important;
    }


    .nav-element:hover
    {
        background: #fff;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255) 70%);
    }
    

    #nav-button
    {
        display: none;
    }
}

.nav-mobile
{
    position: fixed;
    display: block; // make us of Flexbox
    align-items: center; // does vertically center the desired content
    justify-content: right; // horizontally centers single line items
    margin: auto;
    margin-right: 0;
    //top: 0; left: 0; 
    bottom: 10px; right: 10px;
    text-align: right;
    #nav-wrapper
    {
        margin:5px 0;
        padding: 0;
        display: block;
        background-color: rgba(255, 255, 255, 0.9);
        transition: transform .1s ease-in;
        transform: translateX(110%);
        .active
        {
            button
            {
                color: #3c3c3c!important;
            }
        }
    }
    // JS events on nav-wrapper
    .show-nav
    {
        transform: translateX(0)!important;
    }
    .hide-nav
    {
        transform: translateX(110%)!important;
    }
    //
    .nav-element
    {
        list-style: none;
        text-align: right;
        button
        {
            width: 100%;
            text-align: right;
            background:none;
            margin:0;
            padding:5px;
            border:none;
            font-size: 2rem;
            color: #666666;
        }
    }

    #nav-button
    {
        width:70px;
        height:70px;
        margin:0;
        padding:1px;
        background:white;
        border:none;
        clip-path: circle(50% at 50% 50%);
        transition: transform .1s linear;

        i
        {
            color:rgb(0, 28, 121);
        }
    }
}



/// Home Section
#home-wrapper
{
    background: #ff8787;
    background: linear-gradient(180deg, #ffabab 0%, #67e5ff 100%);
    position:absolute ;
    left:0; right:0; top:0; bottom:0;
    opacity: 0;
    transition: opacity .3s ease-in;
}

#home-container
{
    background: #ff8787;
    background: linear-gradient(180deg, #ffabab 0%, #67e5ff 100%);
    padding: 20px;
    min-height:calc(100vh - 40px);

}


/// Contact Section
#contact-wrapper
{
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    opacity:0;
    transition: opacity 0.3s ease-in;
}

#contact-container
{
    background:#a8a8ff;
    background: linear-gradient(180deg, #67e5ff 0%, #9c9cff 100%);
    padding: 20px;
    min-height:calc(100vh - 40px);
}



/// About Section
#about-wrapper
{
    padding: 0px;
    position: absolute;
    left:0; right:0; top:0; bottom:0;
    opacity:0;

    transition: opacity 0.3s ease-in;
}

#about-container
{
    min-height:calc(100vh - 40px);
    padding:20px;
    background: #ffff89;
    background: linear-gradient(180deg, #9c9cff 0%, #fffbbc 100%);

}


/////////////
.show {
    opacity:1!important;
    z-index:2!important;
}
.hide {
    opacity:0!important;
    z-index:-1!important;
}

.d-none
{
    display: none!important;
}