---
layout: default
---

{% include archive-header.html %}

<div id="blog-archive">
{% for post in site.posts %}
  {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if currentyear != tmp1 %}
  <button class="archive-year-btn"><h1 class="archive-year">{{ currentyear }}</h1></button><br>
    {% capture tmp1 %}{{currentyear}}{% endcapture %} 
  {% endif %}
  
  {% capture month %}{{ post.date | date: "%B"}}{% endcapture %}
  {% if month != tmp2%}
  <button class="archive-month-btn"><h1 class="archive-month">{{month}}</h1></button>
      {%capture tmp2%}{{month}}{%endcapture%}
  {%endif%}
  <h1 class="archive-posts"><a href="{{post.url}}">{{post.title}}</a></h1>
{% endfor %}
</div>

{% include footer.html %}