{% include home-header.html %}

<div id="content-wrapper">

    <div class="post-container">
        {% for post in site.posts %}
          <div class="post">
            <h1 class="post-title">{{ post.title }}</h1>
            <h6 class="post-date">{{ post.date | date_to_long_string }}</h6>
            <p class="post-excerpt">{{ post.excerpt }}<a class="post-link" href="{{ post.url }}"><button>More ... </button></a>
            </p>
          </div>
          <hr class="hr">
        {% endfor %}
      </div>

</div>

{% include footer.html %}