{% include post-header.html %}
<div id="content-wrapper">
    <div class="post-container">
          <div class="post">
            <h1 class="post-title">{{ page.title }}</h1>
            <h6 class="post-date">{{ page.date | date_to_long_string }}</h6>
            {% include social-share.html %}
            <div class="post-img-container"><img src="{{ page.image }}" alt="{{ page.image-description }}"></div>
            <div class="post-content">{{ content }}</div>
          </div>
          <div><h1>{{ page.tags[0] }}</h1></div>
          <hr class="hr">
          <div class="post-nav">
            {% if page.previous.url %}
            <div class="prev-post">
              <a class="prev-post-link" href="{{page.previous.url}}"> Previous Blog</a>
              <h1 class="prev-post-title">{{page.previous.title}}</h1>
            </div>
            {% endif %}
            {% if page.next.url %}
            <div class="next-post">
              <a class="next-post-link" href="{{page.next.url}}">Next Blog</a>
              <h1 class="next-post-title">{{page.next.title}}</h1>
            </div>
            {% endif %}
          </div>
      </div>
</div>
{% include footer.html %}